div.toolbar
   div.item
      button#btn-node 显示节点

   div.item
      select#opts-device
         option(value='0') Default

   span.item
      #ratio(style='font-size: small;') 分辨率

   div.item
      button#btn-full 自适应

   div.item
      button#btn-rotate 旋转

   div.item
      button#btn-show-fps 显示FPS

   div.item
      span.item(style='font-size: small;') FPS:
      input#input-set-fps(type='number')

   div.item(style='margin-right: 0px;')
      button#btn-pause 暂停

   div.item
      button#btn-step(style='display: none;') 下一帧

   div.item
      button#btn-recompile 重新编译
