﻿html
  head
    link(rel="icon" href="./res/favicon.ico")
    meta(charset="utf-8")
    title=title
    meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="full-screen" content="yes")
    meta(name="screen-orientation" content="portrait")
    meta(name="x5-fullscreen" content="true")
    meta(name="360-fullscreen" content="true")

    meta(name="renderer" content="webkit")
    meta(name="force-rendering" content="webkit")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    link(rel="stylesheet" href="./css/style.css")
    link(rel="stylesheet" href="./css/loader.css")
    link(rel="stylesheet" href="./css/materialdesignicons.min.css")
    link(rel="stylesheet" href="./css/vuetify.min.css")

    block head

  body
    block toolbar
        include ./jade/toolbar.jade

    div.content#content
      div.contentWrap
        include ./jade/nodeTree.jade

        div.wrapper#GameDiv
          canvas#GameCanvas
          div#splash
            div.loader
              span.loading 加载中...
              div.face
                div.circle
              div.face
                div.circle
            div.progress-bar.stripes
              span

          div#bulletin
            div.inner#sceneIsEmpty= tip_sceneIsEmpty
    div#recompiling
      span 重新编译脚本，请等待刷新...

    script(type="text/javascript" charset="utf-8" src="./3rd/vue.js")
    script(type="text/javascript" charset="utf-8" src="./js/vuetify.js")
    script(type="text/javascript" charset="utf-8" src="./js/config.js")
    script(type="text/javascript" charset="utf-8" src="./js/cc-console-utils.js")
    script(type="text/javascript" charset="utf-8" src="./js/preview.js")
    script(type="text/javascript" charset="utf-8" src="settings.js")
    script(type="text/javascript" charset="utf-8" src="./js/boot.js")
    script(type="text/javascript" charset="utf-8" src="preview-scripts/__quick_compile__.js")
    script(type="text/javascript" charset="utf-8" src="/socket.io/socket.io.js")
    script(type="text/javascript").
      window.__socket_io__ = window.io;
      window.CC_PHYSICS_CANNON = #{enableCannonPhysics};
      window.CC_PHYSICS_BUILTIN = #{enableBuiltinPhysics};
      console.clear();

    if enableDebugger
      script(type="text/javascript" charset="utf-8" src="app/node_modules/vconsole/dist/vconsole.min.js")
    script(type="text/javascript" charset="utf-8" src="app/engine/bin/" + cocos2d)

    if enableDebugger
      script(type="text/javascript").
        vConsole = new VConsole();
